<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8a796ca-0ef8-46e9-924e-bca13176329c/resourcegroups/quizbotsevice-rg/providers/Microsoft.Web/sites/QuizBotService-10f9e060-8ca2-49ee-a1c9-6269686dc8e4</ResourceId>
    <ResourceGroup>quizbotsevice-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quizbotservice-10f9e060-8ca2-49ee-a1c9-6269686dc8e4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>5b3e189d-2ffa-4d7c-b526-f781b6b7d74a</ProjectGuid>
    <MSDeployServiceURL>quizbotservice-10f9e060-8ca2-49ee-a1c9-6269686dc8e4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QuizBotService-10f9e060-8ca2-49ee-a1c9-6269686dc8e4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QuizBotService-10f9e060-8ca2-49ee-a1c9-6269686dc8e4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>